*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Nunito', sans-serif;
}

body{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.main-content{
  min-height: 100vh;
  width: 80%;
  margin: 2rem auto;
}

.left-section{
  height: "";
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.right-section{
  height: 100%;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.career{
  color:#94D9EA
}

.main-title{
  color:#e3eeff;
}

td i:before {
  position:absolute;
  margin-left:-15px;
}

ul.task li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}